html {
    font-family: 'Noto Serif KR', serif;
}

.container {
    margin: 0;
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    border: 1px solid rgb(67, 179, 223);
    padding: 25px;
}

table {
    width: 100%;
    text-align: center;
    border-color: black;
    border-style: double;
}

tbody {
    border-color: black;
    border-style: double;
}

td > img {
    max-width: 300px;
}